
 #cdaddvalue 
   {
     background:#409740;
     border-radius: 5px;
    
    display: inline-block;
    
    margin: 0 0 0 5px;
    padding: 6px 5px 5px 5px;
    color:#fff;
    margin-top: -14px;
}


.delete
{
	background: #ff3333;
    display: inline-block;
    width: 55px; height: 30px;
}


.button
{

	background: #ff3333;
    display: inline-block;
    width: 55px; height: 30px;
    margin-top: -11px;
}


.inputtext
{
width: 105px;
}
