.inputtext
{
	width: 120px;
}

.monthhead
{
	background-color: rgb(0,102,153);
	color:white;
}

.data
{
	width:23px;
}

.timeslotdiv 
{
    border-radius: 4px;
    color: #b20000;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    width:570px;
}

.vari
{
	margin-top:12px;
}

.addme
{
	background: #2982ba;
    font-family: Arial;
	color: #ffffff;
	font-size: 19px;
	/*position:relative;*/
	text-decoration: none;
	margin-top: 36px; 
	width: 188px; 
	height: 41px;
}


.bookme
{
	background:rgb(54,177,210);
	text-align:center;
	color:white;
	/*position:absolute;*/
	margin-top: 39px; 
	margin-right: 152px;
	float:right;
	width: 117px; 
	height: 36px;
}

.green
{
    background-color: rgb(2, 174, 54);
	border-radius: 5px;
	color: white;
	margin: 5px;
	padding: 4px;
}

#yellow
{
    background-color: rgb(255,170,0);
    border-radius: 5px;
	color: white;
	margin: 5px;
	padding: 4px;
}

#red
{
	background-color:rgb(240,27,23);
	border-radius: 5px;
	color: white;
	margin: 5px;
	padding: 4px;
}


.maininside 
{
	background: #ffffff none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	display: inline-block;
	margin: 0 0 32px;
	padding: 10px;
	position: relative;
	margin-right: 10px;
	box-sizing:border-box;
	width: 190px;
	bottom:-13px;
	float:left;
	height:129px;
	margin-top:-21px;
	margin-left:10px;
	
}

.mainimage 
{
	margin-left: -9px; 
	margin-top: -9px; 
	width: 188px; 
	margin-bottom: -3px; 
	padding-bottom: 0px;
	float: left;
	height:127px;
	position:relative;
}

.mainimage img 
{
	height:100%;
	width:100%;
	padding: 0;
}

.datanameee 
{
	bottom:6px;
	color:white;
	display: block;
	font-size: 18px;
	font-weight: normal;
	text-transform: capitalize;
	text-align:center;
	position:absolute;
	padding-top:2px;
	padding-bottom:2px;
	left:0px;
	right:15px;
	background-color: hsla(451,87%,47%,0.6);
	width:190px;
}

.datanameee a
{
	color:white;
}

.service_list_main_div
{
	float:left;
}

.col sm-3 md-6
{
	float:left;
	width:200px;
}

.tomandjerry 
{
	color: #666666;
	font-size: 16px;
	margin: 8px 0 0;
}


.shopdetial
{
	background-color:whitesmoke;
	margin-bottom:10px;
	padding:5px;
}
.vapcontinueshoplink
{
	background: rgb(138,184,0) none repeat scroll 0 0;
    border: 1px solid #559900;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 98%;
}

.vapcompleteorderdiv
{
	background: #e8e8e8 none repeat scroll 0 0;
    display: inline-block;
    padding-top: 10px; 
    margin-top: 14px; 
    width: 100%;
    text-align:center;
    padding-left: 10px;
}

.vapcompleteorderheadtitle 
{
    color: #006699;
    font-size: 22px;
    margin: 0 0 15px;
}

.vapcustomfields 
{
    color: #006699;
}

.vapcustomfields div span.cf-label, .vapcustomfields div span.cf-value 
{
    display: inline-block;
    padding: 3px 0;
}

.vap-btn.big.blue 
{
    background-color: rgb(0, 136, 204);
    border-radius: 5px;
    color: white;
    height: 36px;
    margin-top: 5px;
    width: 30%;
    right:50px;
}

.vapbooksuccessdiv 
{
     position:absolute;
    color:#00a200;
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    margin:20px 0 10px;
    padding:10px 0;
    text-align:center;
    width:917px;
    text-align:center;
    top:647px;
}

.serimg 
{
	width:200px;
	float:left;
}

.single-service
{
	width:200px;
}

.ThisLink
{
	pointer-events: none;
    cursor: default;
    background-color:rgb(0,102,153);
    color:white;
}

    
.removeLink
{
	background-color:green;
}

.vapbookdiv 
{
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(39,113,185);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color:rgb(239, 198, 0);
}

.vaporderboxcontent 
{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: inline-block;
    margin: 0 0 20px;
    padding: 20px;
    width: 96%;
}

.vaporderboxcontent > .vaporderheader, .vap-order-first 
{
    border-bottom: 1px solid #cccccc;
    margin: 0 0 30px;
    padding: 0 0 10px 15px;
}

.vaporderboxcontent 
{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: inline-block;
    margin: 0 0 20px;
    padding: 20px;
    width: 96%;
}

.vaporderboxcontent > .vaporderheader, .vap-order-first 
{
    border-bottom: 1px solid #cccccc;
    margin: 0 0 30px;
    padding: 0 0 10px 15px;
}

.vaporderdetailsbox 
{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: inline-block;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    width: 96%;
}

.vaporderdetailsbox 
{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 8px;
    display: inline-block;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
    width: 400px;;
}

.vaporderheader 
{
    color: #006699;
    font-size: 24px;
    font-weight: normal;
}

.vapordercontentinfo .vapreservationstatusconfirmed, .vap-allorders-statusconfirmed 
{
    color: #006600;
    font-weight: bold;
}

.vaporderdetailsbox .vaporderinfo 
{
    font-size: 1.2em;
}
.vap-printable 
{
    float: right;
    margin-left: 10px;
    margin-top: -33px;
}

.vaporderboxleft 
{
    display: inline-block;
    float: left;
    margin: 0 0 0 5px;
    min-width: 40%;
}
.vapordercontentinfo .vapreservationstatusconfirmed, .vap-allorders-statusconfirmed 
{
    color: #006600;
    font-weight: bold;
}

.vaorderboxright 
{
    display: inline-block;
    float: right;
    min-width: 34%;
    margin-left: 266px; 
    margin-top: -56px;
}

.vapempblock, .vapordercomponentsdiv, .vapseroptionscont 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 0 0 32px;
	padding: 5px 5px;
    position: relative;
    width: 98%;
}

.vapempinfoblock 
{
    display: inline-block;
    width: 100%;
}

.vap-empheader-div 
{
    display: inline-block;
}

.vapempnamediv 
{
    display: inline-block;
    float: left;
}

.vapempdescdiv 
{
    margin: 0 0 25px 5px;
}
.vapempcontactdiv
{
    bottom: auto;
    position: relative;
    right: auto;
}
.vapempcontactsp span:last-child 
{
    margin: 0;
}
.vapempserpricesp 
{
    background: rgba(0, 0, 0, 0) url("images/price.png") no-repeat scroll left center;
    padding-left: 25px;
}
.vapempsertimesp 
{
    background: rgba(0, 0, 0, 0) url("images/clock.png") no-repeat scroll left center;
    padding-left: 25px;
}

.vapempcontactdiv 
{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 8px;
    bottom: -17px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    right: 27px;
}

.vap-empheader-div 
{
    display: inline-block;
}

.vapempinfoblock 
{
    display: inline-block;
    width: 100%;
}

.vapempnamediv, .vapordertitlediv 
{
    color: #006699;
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    margin: 10px 0 0 5px;
}

.vapallcaldiv 
{
    display: inline-block;
    margin: 10px 0 0;
    width: 100%;
}

.remove 
{
    background: rgba(0, 0, 0, 0) url("images/serviceremove.png") no-repeat scroll left center;
    padding-left: 25px;
}


.vaporderinfo1
{
	float:right;
	font-size: 1.2em;
	margin-top: -35px;
	margin-right: 10px;
}


#calenderdiv > table 
{
    margin-left: 161px;
}

#timediv
{
	margin-left:162px;
}


