.service_div
{
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid gainsboro;
	display: inline-block !important;
	margin: 0 10px 10px 0;
	height: 120px;;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
	width:200px;;
}

.divname
{
	background-color: hsla(91, 87%, 47%, 0.6);
   bottom: 3px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
}

.divname a
{
	color:white;
}

/*
.divprice
{
	background-color: hsla(401, 87%, 47%, 0.6);
    bottom: 3px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
}

.divimage img
{
	border: 0 none;
    height: 120px;;
    max-inline-size: 100%;
    position: relative;
    vertical-align: middle;
    width: 201px;
    margin-top: -18px;
}

*/
.page-header h2
{
 background-color:darkseagreen;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    width: 90%;
	color:whitesmoke;
}

.divimage img {
    height: 120px;
    width: 201px;
}


.img
{
	width:201px;
	height:120px !important;
}
