body 
{
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#657077;
	margin:40px;
}

#tabbed_box_1 
{
	margin: 0px auto 0px auto;
	width:300px;
}

.tabbed_box h4 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom:10px;
}

.tabbed_box h4 small 
{
	color:#e3e9ec;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	position:relative;
	top:-4px;
	left:6px;
	letter-spacing:0px;
}

.tabbed_area 
{
	border:1px solid #494e52;
	background-color:#636d76;
	padding:8px;	
}

ul.tabs 
{
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:6px;
}

ul.tabs li 
{
	list-style:none;
	display:inline;
}

ul.tabs li a 
{
	background-color:#CCCCCC;
	color:#ffebb5;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #464c54;
	background-image:url(images/tab_off.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;
}

ul.tabs li a:hover 
{
	background-color:#2f343a;
	border-color:#2f343a;
}

ul.tabs li a.active 
{
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #464c54; 
	border-bottom: 1px solid #ffffff;
	background-image:url(images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;	
}

.content 
{
	background-color:#ffffff;
	padding:10px;
	border:1px solid #464c54; 	
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(images/content_bottom.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;	
}

#content_2, #content_3 
{ 
	display:none; 
}

.content ul 
{
	margin:0px;
	padding:0px 20px 0px 20px;
}

.content ul li 
{
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:15px;
	padding-bottom:15px;
	font-size:13px;
}

.content ul li:last-child 
{
	border-bottom:none;
}

.content ul li a 
{
	text-decoration:none;
	color:#3e4346;
}

.content ul li a small 
{
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}

.content ul li a:hover 
{
	color:#a59c83;
}
.content ul li a:hover small 
{
	color:#baae8e;
}
.service_div
{
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid gainsboro;
	display: inline-block !important;
	margin: 0 10px 10px 0;
	height: 120px;;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
	width:99%;
}

.divname
{
	background-color: hsla(91, 87%, 47%, 0.6);
   top: 3px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
}

.divprice
{
	background-color: hsla(401, 87%, 47%, 0.6);
    bottom: 3px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
}

.divimage image
{
	border: 0 none;
    height: 199px;;
    max-inline-size: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
    margin-top: -18px;

}
.grp_name_div 
{
   padding: 13px 20px 2px 12px;
}

.divimg 
{
	width:150px;
	height:126px;
}

.divimg img
{
	height:120px;
}

.divnm
{
	left: 162px;
    position: absolute;
    top: 5px;
}

.divpr
{
	position: absolute;
	right: 10px;
    top: 10px;
}

.divdp
{
	left: 150px;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 28px;
}

.ourservice label
{
    color: white;
    background-color:darkseagreen;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 10px;
    padding: 10px 0;
    text-align: center;
}
