.moduletablevikapp {
	display: inline-block;
}
.moduletablevikapp input {
	background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #666666;
    padding: 0px 6px;
    height: 30px;
}
.moduletablevikapp .vapsearchsubmitmod {
	border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0;
    padding: 5px 6px;
    background: #006699;
    color: #FFFFFF;
}
.vapsearchinputdivmod {
	display: inline-block;
	width: 100%;
	margin: 0 0 8px 0;
}
.moduletablevikapp label {
	float: left;
	display: inline-block;
	margin: 5px 5px 0 0;
	min-width: 25%;
}
.vapsearchentryselectmod {
	border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
}
.moduletablevikapp select {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    margin: 6px 5px 5px;
    padding: 0;
    width: 156%;
}
